<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Update Role</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="centered-container">
        {% include 'nav.html' %}
        <h1>Update Role for {{ organization.name }}</h1>
        
        {% include 'msg_tag.html' %}
        <form method="post">
            <center>
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" class="form-control form-control-lg" value="{{ role.name }}">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" class="form-control form-control-lg">{{ role.description }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update Role</button>
        </form>
    </center>
    </div>

</body>
</html>
